## Importando pacotes

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

## Criando conexão com o banco de dados

_Caso tenha problemas com `encoding`, você pode passar o charset como parâmetro na conexão._
```
"firebird+fdb://sysdba:masterkey@firebird:3050//firebird/data/database.fdb?charset=ISO8859_1")
```

In [5]:
engine = create_engine("firebird+fdb://sysdba:masterkey@firebird:3050//firebird/data/examples.fdb")
def run_query(query):
    return pd.read_sql_query(query,con=engine)

## Executando query

In [6]:
query = """
select * from CUSTOMER;
"""
df = run_query(query)

In [8]:
df.head()

   customer_id            name address zipcode           phone
0            2     Aiden Moore    None    None  1-512-762-0946
1            3    Elijah Smith    None    None  1-101-967-8074
2            4       Ava White    None    None  1-903-973-3809
3            5      Emma Davis    None    None  1-397-015-7121
4            6  Aiden Martinez    None    None            None